h1 {
    text-align: center;
  }
  section.Champions ul{
      list-style: none;
      position: relative;
        margin: 1rem;
  padding: 2rem 2rem;
  }


  .first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    vertical-align: middle;
    margin: auto;
  }

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    
    
  }

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin: auto;
    }

 .divsecthird{
       margin-left: 18%;
       display: inline-block;
   }  
    .sectionReward{
        text-align: center;  
    }
    section.sectionReward ul{
        list-style: none;
    }
    section.sectionReward ul li{
    
    display: inline;
    }
    .footer{
        margin-top: 20px;
        display: inline-block;
        color: rgb(61,73,92);
        font-weight: bold;     
    }
