@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-image: url(../img/QavClY.png);
  background-size: cover;
  /* vh referente ao tamnho da tela de quem está acessando height*/
  min-height: 100vh;
  /* mesma coisa só que para width */
  max-width: 100vw;
  background-repeat: no-repeat;
  background-position: right;
  margin: 0%;
}

.all-pokemons {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  max-width: 100vw;
  min-height: 90vh;
  margin-top: 10px;
}
.pokemon-div {
  transition: all 2s;
  display: flex;
  border: 2px solid black;
  flex-flow: column;
  width: 180px;
  align-items: center;
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pokemon-div:hover {
  transform: rotateY(180deg);
}

.pokemon-img {
  height: 120px;
  width: 120px;
}

.pokemon-name {
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
  -webkit-text-stroke: 2px #0075BE;
  color: #FFCC00;
}

.pokemon-id {
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
  color: #0075BE;
}

.pokemon-type {
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
  color: #0075BE;
}

.pokemon-link {
  font-family: 'Press Start 2P', cursive;
  font-size: x-small;
  -webkit-text-stroke: 1px #0075BE;
  color: #FFCC00;
  text-decoration: none;
}
