.super-mario {
    width: 200px;
    position: absolute;
    z-index: 6;
    bottom: 350px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    bottom: 200px;
    left:50px;
}
  
  .baloon {
    position: absolute;
    z-index: 3;
    left: 300px;
    border: 0px;
    bottom: 550px;
}
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    right: 300px;
    top: 245px;
}
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 560px;
    bottom: 10cm;
}
  