
fieldset {
  display: flex;
  flex-flow: column;
  align-items:flex-start;
}

.inputs {
  width: 180px;
  margin-top: 2px;
}

textarea {
  resize: none;
}

.BtnInput {
  margin-top: 5px;
  margin-left: 5px;
}