    .listaOrdenada > li:nth-child(even){
        background-color: yellow;
        text-transform: uppercase;
    }
    .listaOrdenada {
        color: green;
    }

    .header{
        color:red
    }
    .lista{
        font-size: 20px;
    }
    ul li.lista.program{
        color: pink;
    }
    ul li.lista{
        color: blue;
    }
    ul li a:hover{
        font-weight: bolder;
    }
    ul li a.lista1:hover{
    color: orange;
    }
    ul li a.lista2:hover{
        color: green;
    }
    ul li a.lista3:hover{
        color: black;
    }
    ul li a.lista4:hover{
        color: yellow;
    }
    ul li a.lista5:hover{
        color: green;
    }