body{
    background-color: white;
}

table,th,td {
  border: 1px solid black;
}
th,td {
  padding: 7px;
  text-align: left;
}
section.firstsection {
  padding-bottom: 3%;
}

section.firstsection img {
  float: right;
  top: 10px;
}
table {
  display: inline-block;
}
.prism{
    float: left;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 25px;
}
section.secondsection aside {
    float: right;
    vertical-align: middle;
    
}
section.secondsection aside h4{
    margin: 0%;
}
.secondsection{
    margin-bottom: 5%;
    margin-top: 7%;
}
section footer h4{
    margin-top: 5%;
    margin-bottom: 0%;    
}
section footer{
    text-align: center;
}
