body {
  background-color:bisque;
}

#base{
border: 3px solid black;
padding: 0px;
align-items: center;
width: 512px;
height: 530px;
margin: auto;
margin-top:200px;

}

.quadrado {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
  align-items: center;
  padding: 0px;

}

.fillColor {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
    align-items: center;
    padding: 0px;
  
}