div {
  border: 1px solid black;
  width: fit-content;
  margin: 2px;
  background-color: beige;
}

#nameEmail {
  text-align: center;
  border-radius: 7px;
  padding: 2px;
  width: 308px;
}

#username {
  width: 230px;
}

#email {
  width: 230px;
}

#placesDiv {
  padding: 2px;
  border-radius: 7px;
}

#response {
  border-radius: 7px;
  width: 300px;
}

#responseDiv {
  border-radius: 7px;
  text-align: center;
  padding: 3px;
}
